global
        chroot /var/lib/haproxy
	pidfile /var/run/haproxy.pid
#       user haproxy
#       group haproxy
#       daemon
#        lua-load hello.lua
	lua-load acme-http01-webroot.lua
	
	ssl-default-bind-options no-sslv3
	ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS

	ssl-default-server-options no-sslv3
	ssl-default-server-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS

	tune.ssl.default-dh-param 2048

defaults
    	timeout connect 9s
        timeout client 60s
	timeout server 30s

frontend fe_http
	log 127.0.0.1 local0 debug
        mode http
        option httplog
#       bind PUBLIC_HAPROXY_IP:80
        bind *:80

	acl url_acme_http01 path_beg /.well-known/acme-challenge/
     	http-request use-service lua.acme-http01 if METH_GET url_acme_http01

	bind *:443 ssl crt-list /etc/haproxy/cert-list.txt

#	http-request redirect scheme https if { hdr_sub(Host) -i git.kuopzi.nl  } !{ ssl_fc }

# template ssl
> for i,c in ipairs(ssl_containers) do
	http-request redirect scheme https if { hdr_sub(host) -i $(c.Name).$(c.Domain) } !{ ssl_fc }
> end
# end template

	#redirect scheme https if !{ ssl_fc }

	# add tag so backend knows we termintated the SSL
	acl HAS_SSL ssl_fc
	reqadd X-Forwarderd-Proto:\ https if HAS_SSL
	
#       acl app_letsencrypt path_beg /.well-known/acme-challenge/
        acl is_test hdr(host) -i test.pump.ninja
#        acl is_hello hdr(host) -i hello.pump.ninja

# template SNI test
> for i,c in ipairs(containers) do
	acl is_$(c.Name) hdr_sub(host) -i $(c.Name).$(c.Domain)
> end
# end template

#       use_backend be_letsencrypt if app_letsencrypt
        use_backend be_test if is_test
#        use_backend be_hello if is_hello
        #use_backend be_git if is_git
	
# template select backend
> for i,c in ipairs(containers) do
	use_backend be_$(c.Name) if is_$(c.Name)
> end
# end template

#frontend fe_https
#       log global
#       mode http
#       option httplog
#       bind 0.0.0.0:443 ssl crt /etc/haproxy/ssl/

#       tcp-request inspect-delay 5s
#       tcp-request content accept if { req.ssl_hello_type 1 }

backend be_letsencrypt
        log global
        mode http
        option httplog
        server srv_letsencrypt 127.0.0.1:63443

backend be_test
        mode http
	server d_test 172.17.0.3:8080

#backend be_git
#        mode http
#	server d_git 172.17.0.3:3000

#backend be_hello
#        mode http
#	http-request use-service lua.hello


# template backends
> for i,c in ipairs(containers) do
backend be_$(c.Name)
	mode http
	server server1 $(c.IP):$(c.Port)
> end
# end template
